@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F4F3FB;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0,0,0,0.2);
    display:flex;
    width: 800px;
    max-width: 100%;
    margin: auto;
}

.card{
    background: linear-gradient(to bottom,#BFA1EA, #735FCD);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    color: #F4F3FB;
    display: flex;
    align-items:start;
    flex-direction: column;
    width:300px;
    min-height: 400px;
    padding: 40px;
    margin: 30px;
}

.card h4{
    margin: 10px 0;
}

.card p{
    font-size: 12px;
    line-height: 1.5;
    margin: 0px 0 20px ;
}

form {
    margin: 30px;
    padding: 40px;
    color: #84899C;
    display: flex;
    flex-direction: column;
}

.form-control{
    margin: 10px 0;
    width: 100%;
}

label{
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
}

.details{
    background-color: transparent;
    font-family: inherit;
    border-radius: 3px;
    border: 2px solid #F4F3FB;
    font-size: 10px;
    padding: 10px;
    width: 100%;
}

.details:focus{
    outline: none;
}

.checkbox-container{
    margin: 15px 0;
}

.checkbox-container label{
    font-weight: normal;
    font-size: 11px;
}

.btn{
    background-color:#735FCD;
    color:#F4F3FB;
    border: none;
    border-radius:5px;
    padding: 8px 0;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

.btn:focus{
    outline:none;
}

.btn:hover{
    transform: scale(0.98);
}

@media (max-width:768px){
    .container{
        flex-direction: column;
    }

    .card{
        margin: auto;
    }
}